# Setup

In [ ]:
import pandas as pd

In [ ]:
# The following two lines are only necessary to run once.
# Comment out otherwise for speed-up.
from google.cloud.bigquery import Client, QueryJobConfig
client = Client()

query = """SELECT * FROM `hacka-dados.hacka_dados.tabela_dados_hacka`"""
job = client.query(query)
df = job.to_dataframe()

# Carregar dataframe

In [ ]:
df.head()

,ID,Capacidade_de_Pagamento_7,tempo_desde_primeiro_contrato,tempo_desde_ultimo_contrato,QTD_SEGURO,QTD_OUTROS,QTD_CP_CONSIGNADO,QTD_CDCCG,QTD_CONTA_DIGITAL,QTD_CARTAO,...,GC_OfertaNegociacao_3m,CD_Boleto_3m,CX_Cliente_NaoCompreende_3m,PL_Sem_Condicoes_3m,NV_DC10_Cliente_alega_pagamento_3m,NV_FC_NEGOCIACAO_COM_SUCESSO_3m,NV_BP4_Informa_o_desconto_3m,Duracao_segundos,fl_renovou,VrFinanciamento
0,0,4,1267.0,251.0,5,0,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-0.323663
1,1,4,1797.0,236.0,4,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,0,0.882514
2,2,4,268.0,18.0,3,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,0,-0.385405
3,3,8,422.0,323.0,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,0,-0.707045
4,4,8,5073.0,252.0,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276.0,0,1.035186

In [ ]:
df.columns

Index(['ID', 'Capacidade_de_Pagamento_7', 'tempo_desde_primeiro_contrato',
       'tempo_desde_ultimo_contrato', 'QTD_SEGURO', 'QTD_OUTROS',
       'QTD_CP_CONSIGNADO', 'QTD_CDCCG', 'QTD_CONTA_DIGITAL', 'QTD_CARTAO',
       ...
       'GC_OfertaNegociacao_3m', 'CD_Boleto_3m', 'CX_Cliente_NaoCompreende_3m',
       'PL_Sem_Condicoes_3m', 'NV_DC10_Cliente_alega_pagamento_3m',
       'NV_FC_NEGOCIACAO_COM_SUCESSO_3m', 'NV_BP4_Informa_o_desconto_3m',
       'Duracao_segundos', 'fl_renovou', 'VrFinanciamento'],
      dtype='object', length=306)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 306 entries, ID to VrFinanciamento
dtypes: float64(286), int64(13), object(7)
memory usage: 116.7+ MB

# Variavéis Categóricas

In [ ]:
list(df.select_dtypes(['object']).columns)

['QTD_SEGURO',
 'NmMotivoContratoFinanceiro',
 'Sub_Produto',
 'CdMarca',
 'FlZeroKm',
 'CdUfNaturalidade',
 'CdOcupacaoCBO']

In [ ]:
df.CdUfNaturalidade.unique()

array(['Centro-oeste', 'Sudeste', 'Sul', 'Norte', 'Nordeste', 'nan'],
      dtype=object)

In [ ]:
df.CdUfNaturalidade.value_counts()

Sudeste         23228
Sul             10456
Nordeste         6831
Centro-oeste     3976
Norte            3046
nan              2463
Name: CdUfNaturalidade, dtype: int64

In [ ]:
df.QTD_SEGURO.nunique()

13

In [ ]:
df.QTD_SEGURO.unique()

array(['5', '4', '3', '2', '1', '9', '6', '7', '12', '11', '12 ou +',
       '10', '8'], dtype=object)

In [ ]:
df.FlZeroKm.unique()

array(['N', 'S', ''], dtype=object)

In [ ]:
df.FlZeroKm.value_counts()

N    49274
S      665
        61
Name: FlZeroKm, dtype: int64

In [ ]:
df.CdMarca.unique()

array(['FIAT', 'VOLKSWAGEN', 'NISSAN', 'Outros', 'RENAULT', 'FORD',
       'CHEVROLET', 'PEUGEOT', 'HONDA', 'TOYOTA', 'HYUNDAI', 'KIA',
       'MITSUBISHI', 'CITROEN', '', 'MERCEDES-BENZ', 'JEEP'], dtype=object)

In [ ]:
df.CdMarca.value_counts()

VOLKSWAGEN       10441
FIAT              9801
CHEVROLET         8623
FORD              4541
RENAULT           3380
HYUNDAI           3175
TOYOTA            2139
HONDA             2076
CITROEN           1309
PEUGEOT           1040
Outros             824
NISSAN             781
MITSUBISHI         648
KIA                635
JEEP               242
MERCEDES-BENZ      226
                   119
Name: CdMarca, dtype: int64

In [ ]:
df.NmMotivoContratoFinanceiro.unique()

array(['FLUXO FINANCEIRO INICIAL', 'CONTRATO CEDIDO (FIDC)',
       'RENEGOCIAÇAO', 'SALDO REMANESCENTE',
       'CORREÇAO DE FLUXO FINANCEIRO / REIMPLANTE'], dtype=object)

In [ ]:
df.NmMotivoContratoFinanceiro[df.fl_renovou == 1].value_counts()

FLUXO FINANCEIRO INICIAL                     1190
CONTRATO CEDIDO (FIDC)                        279
RENEGOCIAÇAO                                  106
SALDO REMANESCENTE                             11
CORREÇAO DE FLUXO FINANCEIRO / REIMPLANTE       4
Name: NmMotivoContratoFinanceiro, dtype: int64

In [ ]:
df.NmMotivoContratoFinanceiro.value_counts()

FLUXO FINANCEIRO INICIAL                     36390
CONTRATO CEDIDO (FIDC)                        9084
RENEGOCIAÇAO                                  4027
SALDO REMANESCENTE                             420
CORREÇAO DE FLUXO FINANCEIRO / REIMPLANTE       79
Name: NmMotivoContratoFinanceiro, dtype: int64

In [ ]:
df.Sub_Produto.unique()

array(['CDC VEICULOS DE PASSEIO', 'REFINANCIAMENTO VEICULOS DE PASSEIO',
       'Outros', 'CDC CAMINHOES', 'PRE APROVADO CDC VEICULOS DE PASSEIO',
       'CDC VANS e MICRO-ONIBUS', 'MOTO', 'CP COM GARANTIA'], dtype=object)

In [ ]:
df.Sub_Produto[df.fl_renovou == 1].value_counts()

CDC VEICULOS DE PASSEIO                 1533
REFINANCIAMENTO VEICULOS DE PASSEIO       27
CDC VANS e MICRO-ONIBUS                   12
MOTO                                       9
CDC CAMINHOES                              4
PRE APROVADO CDC VEICULOS DE PASSEIO       3
CP COM GARANTIA                            2
Name: Sub_Produto, dtype: int64

In [ ]:
df.Sub_Produto.value_counts()

CDC VEICULOS DE PASSEIO                 47004
REFINANCIAMENTO VEICULOS DE PASSEIO      1560
MOTO                                      540
CDC VANS e MICRO-ONIBUS                   336
PRE APROVADO CDC VEICULOS DE PASSEIO      333
CP COM GARANTIA                           113
CDC CAMINHOES                              83
Outros                                     31
Name: Sub_Produto, dtype: int64

# Taxa de renovação

Objetivo: Dobrar taxa de renovação

In [ ]:
print("TAXA DE RENOVAÇÃO",(df['fl_renovou'].sum()/len(df))*100)

TAXA DE RENOVAÇÃO 3.18

# Colunas com muitos valores ausentes

In [ ]:
df.isna().sum().sort_values(ascending=False).head(40)

CD_Quitacao_6m                                    49151
NV_CX_Direcionamento_Outro_Canal_3m               49111
CD_Boleto_3m                                      48992
CD_Cartao_3m                                      48977
NV_FC_NEGOCIACAO_COM_SUCESSO_3m                   48935
CX_Oferta_6m                                      48886
NV_P3_Quitacao_6m                                 48867
CX_Busca_Informacoes_6m                           48841
CX_Cliente_NaoCompreende_3m                       48773
NV_CX_Ligar_de_Volta_3m                           48735
NV_CX_Atendimento_Diferenciado_6m                 48686
CD_Seguro_6m                                      48646
NV_P9_Pagamento_parcial__flexibilidade__6m        48646
NV_DC1_Cliente_nao_esta_com_o_valor_em_maos_6m    48550
NV_BP4_Informa_o_desconto_3m                      48509
CX_Cancelamento_6m                                48504
MOT_Informacao_3m                                 48502
CX_Pesquisa_Satisfacao_3m                         48414
NV_CX_Titular_3m                                  48398
CD_Boleto_6m                                      48394
PL_Sem_Condicoes_3m                               48308
NV_DC10_Cliente_alega_pagamento_3m                48290
CX_Usabilidade_6m                                 48162
NV_DC3_Nao_e_o_responsavel_do_financiamento_3m    48064
NV_CX_Transferencia_6m                            48062
MOT_Servicos_3m                                   48045
NV_DC10_Cliente_alega_pagamento_6m                48012
NV_CX_Ligar_de_Volta_6m                           47962
NV_CD_Boleto_2da_via_6m                           47885
GC_OfertaNegociacao_3m                            47806
CX_Cortesia_3m                                    47791
NV_FC_NEGOCIACAO_COM_SUCESSO_6m                   47785
NV_CX_Rechamadas_6m                               47759
NV_CX_Direcionamento_Outro_Canal_6m               47748
NV_BP4_Informa_o_desconto_6m                      47682
CX_Cliente_NaoCompreende_6m                       47682
CD_Cartao_6m                                      47652
NV_CX_PID_3m                                      47540
PL_Sem_Condicoes_6m                               47285
Produto_Veiculo_3m                                47277
dtype: int64

In [ ]:
# Listas com os nomes das colunas para facilitar consulta

In [ ]:
mailing = ['fl_renovou','Duracao_segundos']

cadastrais = ['CdUfNaturalidade','Grupo_Etario','VrRenda','CdOcupacaoCBO']

contratuais = ['NmMotivoContratoFinanceiro','Sub_Produto','VrContrato','VrFinanciamento','VrEntrada','QtParcelas','AaFabricacaoVeiculo',
'CdMarca','VrMercado','FlZeroKm','QtCilindradaVeiculo','QtQuilometragemVeiculo','QtAnoIdade']

scores = ['Capacidade_de_Pagamento_1','Capacidade_de_Pagamento_2','Capacidade_de_Pagamento_3','Capacidade_de_Pagamento_4',
'Capacidade_de_Pagamento_5','Capacidade_de_Pagamento_6','Capacidade_de_Pagamento_7']

relacionamentoBV = ['tempo_desde_primeiro_contrato','tempo_desde_ultimo_contrato','QTD_SEGURO','QTD_CP_CONSIGNADO','QTD_CDCCG',
'QTD_CONTA_DIGITAL','QTD_CARTAO','QTD_CP','QTD_OUTROS','flmat30conta','flmat60conta','flmat90conta','flmau30conta','flmau60conta',
'flmau90conta']

In [ ]:
print(len(mailing)+len(cadastrais)+len(contratuais)+len(scores)+len(relacionamentoBV))

41